<!doctype html>
<html>

<head>
	{% load static %}
	<link rel="stylesheet" href=" {% static "style.css" %} ">
	<meta charset="utf-8">
	<title>TCS - Courier Service - Home</title>
	<style>
		#myVideo {
			position: absolute;
			height: 95%;
			right: 0;
			bottom: 0;
			top: 5%;
			left: 0;
		}

		.content {
			position: fixed;
			bottom: 1;
			background: rgba(0, 0, 0, 0);
			color: #f1f1f1;
			width: 100%;
			height: 100%;
		}

		.content a {
			display: block;
			text-decoration: none;
			color: black;
		}

		td:hover a {
			background-color: red;
			color: white;
		}
	</style>
</head>

<body>
	<nav class="top_red_banner">
        <a href="tel:+92-321-1234567">Call us</a>
    </nav>
	<video width="100%" height="100%" autoplay loop muted id="myVideo">
		
		<source src= "{% static "homepage/HazirSubKuch.mp4" %}" >
	</video>
	<div class="content">
		<a href="/"><img src="{% static "TCS.png" %}" height="100"></a>
		<table style="margin-top: 5%" width="260" border="3" align="right" height="100" bordercolor="#ffffff">
			<tbody align="center">
				<tr>
					<td bgcolor="#ffffff">
						<a href="about/">
							<font size="+2">About</font>
						</a>
					</td>
				</tr>
				<tr>
					<td bgcolor="#ffffff">
						<a href="contact/">
							<font size="+2">Contact</font>
						</a>
					</td>
				</tr>
				<tr>
					<td bgcolor="#ffffff">
						<a href="track/">
							<font size="+2">Track Order</font>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>